@import "tailwindcss";

:root {
  --background: #fff1f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

/** @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} **/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  overflow-x: hidden;
  
}


@layer base {
  h1 {
    @apply text-3xl font-semibold text-rose-900 ;
  }

  .home-text {
    @apply text-lg max-w-md lg:max-w-none;
  }

  
}

@layer components {
  .navlinks {
    @apply text-sm md:text-xl font-semibold text-rose-900 hover:text-rose-500 hover:underline underline-offset-4 decoration-rose-500 hover:text-shadow-sm;
  }

}


